<%- include("partial/header") -%> 

<section class="Content404 flex justify-items-center mx-auto px-80 py-80">
    <div id="alert-additional-content-1" class="bg-yellow-100 rounded-lg p-4 m-20" role="alert">
        <div class="flex items-center">
          <svg class="w-5 h-5 text-yellow-700 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <h3 class="text-yellow-700 text-4xl font-medium">Oops! 404 Error!!</h3>
        </div>
        <div class="mt-2 mb-4 text-2xl text-yellow-700">
          Looks like you're lost! The page you are looking for does not exist or still in development! Sorry for that!! :(
        </div>
        <div class="flex">
          <button type="button" onclick="location.href='/'" class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-2xl px-3 py-1.5 mr-2 text-center inline-flex items-center">
            Go to Home?
          </button>
        </div>
      </div>
</section>
