<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></script>
<div class="container" id="aboutus">
    <h1 style="text-align:center;" id="h1about">About Us</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-8">
            <p class="h2about">
                Greetings!
            </p>
            <p class="pabout">
                <b>Personality Development Association (PDA)</b> is an interdisciplinary Forum in MIT. It provides platform to the students who aspire to be different in the society by discovering themselves. The association aims to develop individual
                skills of students and make them face the global competitive environment.
                <br> In the academic year 1984-85, five students conceived the idea to start an association to improve the overall personality of the MITians. Thus, was born the Personality Development Association. The association was formally inaugurated
                on
                <b>4th of February 1985</b> ; with the active support of
                <i>Prof. K.V. Narayanan</i> and
                <i>Dr. S. Renganathan</i> .
                <br> From a modest beginning then, we carry on legacy. Personality - Complexity of all the attributes -
                <b>the behavioural, the temperamental, the emotional and the mental</b> - that characterise a unique individual. it is with these things in mind, and lots of passion towards what we do, we are trying to help students of MIT to mould their
                personality.
            </p>
        </div>
        <div class="col-lg-4">
            <video src="images/aboutus.mp4" autoplay="" muted="" loop="" alt="promo"></video>
        </div>
    </div>
</div>