<section id = "contact" class="ftco-section contact-section">
    <div class="container">
      <div class="row d-flex contact-info">
        <div class="col-md-4 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <div class="contact-box">
              <h3 class="mb-4">Address</h3>
              <p>MIT Campus, Chromepet</p>
              </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <div class="contact-box">
                <h3 class="mb-4">Email Address</h3>
              <p><a href="#">pda@mitindia.edu</a></p>
              </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <div class="contact-box">
                <h3 class="mb-4">Website</h3>
              <p><a href="#">www.pda.mitindia.edu</a></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
      
    <section class="news-letter-section ftco-section ftco-no-pt ftco-no-pb contact-section">
          <div class="container">
              <h3 class="news-letter">NEWS-LETTER</h3> 
              <div class="row d-flex align-items-stretch no-gutters">
                  <div class="col-md-6 p-4 p-md-5 order-md-last bg-dark">
            <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Contact">
            </div>
            <div class="register">
            <div class="form-group">
                <p>Register here to get details about future events and updates from PDA MIT!</p>
            </div>
            <div class="form-group">
              <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
            </div>
            </div>
          </form>
            </div>
                  <div class="col-md-6 d-flex align-items-stretch">
                      <div id="map">
                        <div>
                            <iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=500&amp;height=500&amp;hl=en&amp;q=MIT%20Campus%20RadhaNagar%20Chennai+(MIT%20Campus%20Chromepet)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://www.symptoma.ro/'>symptoma</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=681d07a403eab03b9d1e1a273ea63e8ce923b8ae'></script> 
                        </div>
                       </div>
                      </div>
                  </div>
                  </div>
          </div>
    </section> 