<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">

    <div class="container tm-container-contact">

        <div class="row">

            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact Us</h2>
                <p class="mb-5">
                    Proin enim orci, tincidunt quis suscipit in, placerat nec est. Vestibulum posuere faucibus posuere.
                    Quisque aliquam velit eget leo blandit egestas. Nulla id posuere felis, quis tristique nulla.
                </p><br>
            </div>

            <div class="col-sm-12 col-md-6">
                <form action="" method="get">
                    <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
                    <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
                    <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input"
                        required></textarea>
                    <button type="submit" class="btn tm-btn-submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">

                <div class="contact-item">
                    <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
                        <i class="far fa-2x fa-comment mr-4"></i>
                        <span class="mb-0">Chat Online</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
                        <i class="far fa-2x fa-envelope mr-4"></i>
                        <span class="mb-0">mail@company.com</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                        <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Our Location</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="tel:0100200340" class="item-link">
                        <i class="fas fa-2x fa-phone-square mr-4"></i>
                        <span class="mb-0">255-662-5566</span>
                    </a>
                </div>

                <div class="contact-item">&nbsp;</div>

            </div>


        </div><!-- row ending -->

    </div>

    <footer class="text-center small tm-footer">
        <p class="mb-0">
            Copyright &copy; 2020 Company Name

            . <a rel="nofollow" href="https://www.tooplate.com" title="HTML templates">Designed by TOOPLATE</a></p>
    </footer>

</section>