
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <div id="event-section">
<div class="container-fluid">
  <h2 class="events_heading">Events</h2>
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="height: 800px;">
                    <img src="images/spontania.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="event-details">
                        <i class="fa fa-calendar icons"></i>
                        25-11-2021
                      </p>
                      <h5 class="card-title">Spontania</h5>
                      <p class="card-text">PDA proudly presents the MEGA EVENT, Spontania'21
                        for the year 2021 in association with AUSEC, CSMIT, MIT Robotics
                        Association, Photo Society of MIT, Quiz Club MIT, Tamil Mandram, TED
                        Club of MIT, The MIT Quill with the germane theme “United we stand”!
                      </p>
                    </div>
                    <span class="event-btns">
                      <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                      <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                    <span>
                  </div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="height: 800px;">
                    <img src="images/resume_comp.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="event-details">
                        <i class="fa fa-calendar icons"></i>
                        25-11-2021
                      </p>
                      <h5 class="card-title">Resume Building Competition</h5>
                      <p class="card-text">It’s time to flaunt your skills, strengths and
                        qualities interviews as PDA proudly presents Resume Building
                        Competition!</p>
                    </div>
                    <span class="event-btns">
                      <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                      <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                    <span>
                  </div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="height: 800px;">
                    <img src="images/resume_webinar.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="event-details">
                        <i class="fa fa-calendar icons"></i>
                        25-11-2021
                      </p>
                      <h5 class="card-title">Resume Building Webinar</h5>
                      <p class="card-text">
                        Don’t let your resume go unnoticed: take charge,
                       and follow our detailed webinar on ”RESUME BUILDING”, conducted by
                       GEEKS FOR GEEKS and learn how to get your foot in the door and
                      market your greatest commodity: yourself, through your resumè!</p>
                    </div>
                    <span class="event-btns">
                      <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                      <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                    <span>
                  </div>
						 			
						 		</div>
						 		
						 	</div>
						 	
						 </div>

						
					</div>
					<div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="height: 800px;">
                    <img src="images/mock_interview.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="event-details">
                        <i class="fa fa-calendar icons"></i>
                        25-11-2021
                      </p>
                      <h5 class="card-title">Mock Interview</h5>
                      <p class="card-text"> Get ready to ace your placement/intern interviews
                        as PDA proudly presents Mock Interviews!
                      </p>
                    </div>
                    <span class="event-btns">
                      <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                      <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                    <span>
                  </div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="height: 800px;">
                    <img src="images/weekly_ap.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="event-details">
                        <i class="fa fa-calendar icons"></i>
                        25-11-2021
                      </p>
                      <h5 class="card-title">Weekly Aptitude Sessions</h5>
                      <p class="card-text"> Ace the Aptitude Concepts and Questions using
                        tricks and strategies with PDA's Weekly Sessions on Aptitude and
                        Logical Reasoning!
                      </p>
                    </div>
                    <span class="event-btns">
                      <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                      <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                    <span>
                  </div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
                  <div class="card" style="height: 800px;">
                    <img src="images/weekly_code.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="event-details">
                        <i class="fa fa-calendar icons"></i>
                        25-11-2021
                      </p>
                      <h5 class="card-title">Weekly Coding Sessions</h5>
                      <p class="card-text">
                        Ace the Coding Round using tactics and strategies
                        with PDA's Weekly Sessions on Coding!</p>
                    </div>
                    <span class="event-btns">
                      <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                      <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                    <span>
                  </div>
						 			
						 		</div>
						 		
						 	</div>
						 	
						 </div>

						
					</div>

        <div class="carousel-item">
           <div class="container">
             <div class="row">
               <div class="col-sm-12 col-lg-4">
                <div class="card" style="height: 800px;">
                  <img src="images/weekly_ap.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="event-details">
                      <i class="fa fa-calendar icons"></i>
                      25-11-2021
                    </p>
                    <h5 class="card-title">Weekly Aptitude Sessions</h5>
                    <p class="card-text"> Ace the Aptitude Concepts and Questions using
                      tricks and strategies with PDA's Weekly Sessions on Aptitude and
                      Logical Reasoning!
                    </p>
                  </div>
                  <span class="event-btns">
                    <a class="apply-btn btn" href="#" role="button">Apply Now</a>
                    <a class="viewdetails-btn btn" href="#" role="button">View Details</a>
                  <span>
                </div>
                 
               </div>

               <div class="col-sm-12 col-lg-4">
                <div class="card" style="height: 800px;">
                  <img src="images/weekly_code.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="event-details">
                      <i class="fa fa-calendar icons"></i>
                      25-11-2021
                    </p>
                    <h5 class="card-title">Weekly Coding Sessions</h5>
                    <p class="card-text">
                      Ace the Coding Round using tactics and strategies
                      with PDA's Weekly Sessions on Coding!</p>
                  </div>
                  <span class="event-btns">
                    <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                    <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                  <span>
                </div>
                 
               </div>

               <div class="col-sm-12 col-lg-4">
                <div class="card" style="height: 800px;">
                  <img src="images/persofest.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="event-details">
                      <i class="fa fa-calendar icons"></i>
                      25-11-2021
                    </p>
                    <h5 class="card-title">Persofest</h5>
                    <p class="card-text"> Put your skills to the test and explore your
                      talents at PDA's own Persofest!
                    </p>
                  </div>
                  <span class="event-btns">
                    <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                    <a class="btn viewdetails-btn" href="#" role="button">View Details</a>
                  <span>
                </div>
                 
              </div>
               
             </div>
             
           </div>

          
        </div>
					
				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
				
			</div>
			
		</div>
		
	</div>
</div>
</div>
