<div class="events-div">
    <section class="pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <h1 class="mb-5 events-title">Events</h1>
                    <p class="events-intro text-center"></p>
                </div>
                <div class="col-3"></div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6 text-right">
                            <a class="btn btn-primary mb-3 mr-1 arrow-btn" href="#carouselExampleIndicators2"
                                role="button" data-slide="prev">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <a class="btn btn-primary mb-3 arrow-btn" href="#carouselExampleIndicators2" role="button"
                                data-slide="next">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/spontania.jpeg">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Spontania</h4>
                                                <p class="card-text">PDA proudly presents the MEGA EVENT, Spontania'21
                                                    for the year 2021 in association with AUSEC, CSMIT, MIT Robotics
                                                    Association, Photo Society of MIT, Quiz Club MIT, Tamil Mandram, TED
                                                    Club of MIT, The MIT Quill with the germane theme “United we stand”!
                                                </p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/resume_comp.jpeg">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Resume Building Competition</h4>
                                                <p class="card-text">It’s time to flaunt your skills, strengths and
                                                    qualities interviews as PDA proudly presents Resume Building
                                                    Competition!</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/resume_webinar.jpeg">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Resume Building Webinar</h4>
                                                <p class="card-text">Don’t let your resume go unnoticed: take charge,
                                                    and follow our detailed webinar on ”RESUME BUILDING”, conducted by
                                                    GEEKS FOR GEEKS and learn how to get your foot in the door and
                                                    market your greatest commodity: yourself, through your resumè!</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/mock_interview.jpeg">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Mock Interview</h4>
                                                <p class="card-text">Get ready to ace your placement/intern interviews
                                                    as PDA proudly presents Mock Interviews!</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/weekly_ap.jpeg">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Weekly Aptitude Sessions</h4>
                                                <p class="card-text">Ace the Aptitude Concepts and Questions using
                                                    tricks and strategies with PDA's Weekly Sessions on Aptitude and
                                                    Logical Reasoning!
                                                </p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/weekly_coding.jpeg">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Weekly Coding Sessions</h4>
                                                <p class="card-text">Ace the Coding Round using tactics and strategies
                                                    with PDA's Weekly Sessions on Coding!</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/persofest.png">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Persofest</h4>
                                                <p class="card-text">Put your skills to the test and explore your
                                                    talents at PDA's own Persofest!</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Event Name</h4>
                                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been the industry's
                                                    standard dummy text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a type specimen book.
                                                    It has survived not only five centuries,</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Event Name</h4>
                                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been the industry's
                                                    standard dummy text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a type specimen book.
                                                    It has survived not only five centuries,</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Event Name</h4>
                                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been the industry's
                                                    standard dummy text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a type specimen book.
                                                    It has survived not only five centuries,</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Event Name</h4>
                                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been the industry's
                                                    standard dummy text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a type specimen book.
                                                    It has survived not only five centuries,</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                            <div class="card-body">
                                                <p class="event-details">
                                                    <i class="fa fa-calendar icons"></i>
                                                    25-11-2021
                                                </p>
                                                <h4 class="card-title">Event Name</h4>
                                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been the industry's
                                                    standard dummy text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a type specimen book.
                                                    It has survived not only five centuries,</p>
                                            </div>
                                            <a class="btn apply-btn" href="#" role="button">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>