<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forgot Password</title>
    <link rel="stylesheet" href="css/login.css">
    <style>
        .box {
            margin-top: 160px;
            width: 600px;
            height: 200px;
            color: #443a3a86;
            background: #fff;
            top: 50%;
            left: 50%;
            position: relative;
            transform: translate(-50%, -50%);
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;

        }

        h2 {
            font-size: 40px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 50px;
            margin-bottom: 0;
            text-align: center;

        }

        p {
            font-size: 15px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            white-space: 4px;
            font-family: "Raleway", sans-serif;
            text-align: center;
        }

        .form form input:not([type="submit"]) {
            border-bottom: 1px solid rgb(226, 221, 221);
        }

        #goback {
            color: #443a3a86;
        }

        #goback:hover{
            color: #f95959;
            cursor: pointer;
        }

        #submit:hover{
            cursor: pointer;
        }

        @media (max-width: 480px) {
            .wrap {
                width: 400px;
                overflow: hidden;
            }

            .box {
                position: fixed;
                margin-top: 80px;
                width: 80%;
            }

            #highlight {
                margin: 10px;
            }
        }

        @media (min-width: 768px) {
            .wrap {
                width: 100%;
                overflow: hidden;
            }

        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="col-sm-6 form">

            <div id="highlight">
                <h2>FORGOT PASSWORD</h2>
                <p>Enter your registered email to reset your password.</p>

            </div>

            <div class="box">
                <form class="signup-form" action="/" method="post" onsubmit="sent_mail()">


                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" name="email" id="email" class="email" required>
                        <span class="error"></span>
                    </div>
                    <div class="CTA">
                        <input type="submit" value="Proceed" id="submit" name="proceed">
                        <a href="/login" class="switch" id="goback">Back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function sent_mail()
        {
            alert("PDA team is working on it ");
            
        }
    </script>
</body>

</html>