<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
    <div class="container">
      <div class="tm-next">
        <a href="#infinite" class="navbar-brand">PDA-MIT</a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#infinite">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#whatwedo">What We Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#testimonials"
              >Testimonials</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#contact">Contact</a>
          </li>
        </ul>
          <button type="button" class="btn btn-outline-info" onclick="location.href='/login'">
            Login/Register
          </button>
      </div>
    </div>
  </nav>

  <div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">
      <h2 class="tm-hero-title">Personality Development Association</h2>
      <p class="tm-hero-subtitle">
        Discover Thyself
      </p>
    </div>
  </div>

  <div class="tm-next tm-intro-next">
    <a href="#whatwedo" class="text-center tm-down-arrow-link">
      <i class="fa-2x fas fa-arrow-down"></i>
    </a>
  </div>
</section>
