<div class="bg-top navbar-light">
    <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-1"></div>
            <div class="col-md-2 d-flex align-items-center py-4 mr-5">
                <div class="row">
                    <div class="col">
                        <a class="navbar-brand" href="/">
                            <img
                                src="images/pda-logo.png"
                                alt=""
                                class="logo"
                                style="display:inline-block;"
                            >
                            <p style="display: inline-block;">PDA</p>
                        </a>
                    </div>
                    <div class="col text-left">
                        <a class="navbar-brand" href="/"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-block">
                <div class="row d-flex">
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div class="text">
                            <span>Email</span>
                            <span>pdamit1984@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="text">
                            <span>Call</span>
                            <span>Call Us: +91 97903 19116</span>
                        </div>
                    </div>
                    <div class="col-md topper d-flex align-items-center justify-content-end">
                        <p class="mb-0">
                            <form action="/login" method="post">
                                <button type="submit">
                                    <a href="#" class="btn apply-btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
                                        <span>Sign up / Login</span>
                                    </a>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center px-4">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="oi oi-menu"></span>
            Menu
        </button>
        <form action="#" class="searchform order-lg-last">
            <div class="form-group d-flex">
                <input type="text" class="form-control pl-3" placeholder="Search">
                <button type="submit" placeholder="" class="form-control search">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </form>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link pl-0">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#events" class="nav-link">Events</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url('https://i.ibb.co/gzfdQYx/growth.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate">
                    <h1 class="mb-4">To Grow Yourself, Start From Knowing Yourself</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url('https://i.ibb.co/XtVLrWL/ican-img.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate">
                    <h1 class="mb-4">Personality Begins Where Comparison Ends</h1>
                </div>
            </div>
        </div>
    </div>
</section>
