<!-- Hero section -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 mx-auto col-5">
                <div class="hero-text mt-4 mt-lg-5 text-center content-center">
                    <img src="img/pda-logo.png" style="height: 40vh;">
                </div>
            </div>
        </div>
    </div>
</section>
