<!-- Hero section -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-4 mt-lg-1 text-center">
                    <img src="images/pda-logo.png" style="height: 40vh;" class="mx-auto">
                    <div class="hero-container container mx-auto mt-lg-5">
                        <span class="hero-title" style="--index: 0">PDA</span>
                        <span class="hero-title" style="--index: 1">PDA</span>
                        <span class="hero-title" style="--index: 2">PDA</span>
                    </div>
                    <p class="animated-text">DISCOVER YOURSELF</p>
                </div>
            </div>
        </div>
    </div>
</section>