<section id="testimonials" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-testimonials-content">
        <div class="row">
            <div class="col-lg-12 tm-content-box">
                <h2 class="text-white text-center mb-4 tm-section-title">Testimonials</h2>
                <p class="mx-auto tm-section-desc text-center">
                    Description here!
                </p>
                <div class="mx-auto tm-gallery-container tm-gallery-container-2">
                    <div class="tm-testimonials-carousel">
                        <figure class="tm-testimonial-item">
                            <img src="img/testimonial-img-01.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>This background image includes a semi-transparent overlay layer. This section
                                also has a parallax image effect.</blockquote>
                            <figcaption>Catherine Win (Designer)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="img/testimonial-img-02.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Testimonial section comes with carousel items. You can use Infinite Loop HTML
                                CSS template for your websites.</blockquote>
                            <figcaption>Dual Rocker (CEO)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="img/testimonial-img-03.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Nulla finibus ligula nec tortor convallis tincidunt. Interdum et malesuada fames
                                ac ante ipsum primis in faucibus.</blockquote>
                            <figcaption>Sandar Soft (Marketing)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="img/testimonial-img-04.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Curabitur rutrum pharetra lobortis. Pellentesque vehicula, velit quis eleifend
                                fermentum, erat arcu aliquet neque.</blockquote>
                            <figcaption>Oliva Htoo (Designer)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="img/testimonial-img-02.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Integer sit amet risus et erat imperdiet finibus. Nam lacus nunc, vulputate id
                                ex eget, euismod auctor augue.</blockquote>
                            <figcaption>Jacob Joker (CTO)</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-bg-overlay"></div>
</section>