<section id="whatwedo" class="tm-section-pad-top">

    <div class="container">

        <div class="row tm-content-box">
            <!-- first row -->
            <div class="col-lg-12 col-xl-12">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4 tm-section-title">What We Do</h2>
                    <p class="mb-4 tm-intro-text">
                        This is Infinite Loop, free Bootstrap 4.0 HTML template with a parallax effect. This layout is
                        what you can modify and use for your websites. Please spread a word to your friends about our
                        website. Thank you for supporting us. If you have any question, you can contact us or chat with
                        us on our <a href="https://fb.com/tooplate">Tooplate Facebook page</a>.</p>
                </div>
            </div>

        </div><!-- first row -->

        <div class="row tm-content-box">
            <!-- second row -->
            <div class="col-lg-1">
                <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Market Analysis</h2>
                    <p class="mb-4 tm-intro-text">
                        Praesent sed pharetra lorem, blandit convallis mi. Aenean ornare elit ac metus lacinia, sed
                        iaculis nibh semper. Pellentesque est urna.</p>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Fast Support</h2>
                    <p class="mb-4 tm-intro-text">
                        Credit goes to <a rel="nofollow" href="https://www.pexels.com">Pexels</a> website for all images
                        used in this template. Cras condimentum mi et sapien dignissim luctus.</p>
                </div>
            </div>

        </div><!-- second row -->

        <div class="row tm-content-box">
            <!-- third row -->
            <div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Top Security</h2>
                    <p class="mb-4 tm-intro-text">
                        You have <strong>no</strong> authority to post this template as a ZIP file on your template
                        collection websites. You can <strong>use</strong> this template for your commercial websites.
                    </p>

                    <div class="tm-continue">
                        <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="fas fa-3x fa-users text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Social Work</h2>
                    <p class="mb-4 tm-intro-text">
                        You can change <a href="https://fontawesome.com/icons?d=gallery">Font Awesome icons</a> by
                        either <b><em>fas or far</em></b> in the HTML codes. For Examples:<br>
                        <em>&lt;i class=&quot;fas fa-users&quot;&gt;&lt;i class=&quot;far fa-chart-bar&quot;&gt;</em>
                    </p>

                    <div class="tm-continue">
                        <a href="#testimonials" class="tm-intro-text tm-btn-primary">Details</a>
                    </div>
                </div>
            </div>

        </div><!-- third row -->

    </div>

</section>