<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-md-2 about-1 ftco-animate">
            <img src="images/fun.png" alt="" class="whatwedo-icons about-icons">
            <p class="activities-title">Fun</p>
            <p class="activities-text">An open source of books filled with vibrant ideas.</p>
        </div>
        <div class="col-md-2 about-2 ftco-animate">
            <img src="images/learning.png" alt="" class="whatwedo-icons about-icons">
            <p class="activities-title">Learning</p>
            <p class="activities-text">Inspires students to aspire.</p>
        </div>
        <div class="col-md-2 about-1 ftco-animate">
            <img src="images/friendship.png" alt="" class="whatwedo-icons about-icons">
            <p class="activities-title">Friendship</p>
            <p class="activities-text">An oppurtunity to find you.</p>
        </div>
        <div class="col-md-2 about-2 ftco-animate">
            <img src="images/cocurricular.png" alt="" class="whatwedo-icons about-icons">
            <p class="activities-title">Co-curricular</p>
            <p class="activities-text">Grand event hosted by PDA related to academics.</p>
        </div>
        <div class="col-md-2 about-1 ftco-animate">
            <img src="images/management.png" alt="" class="whatwedo-icons about-icons">
            <p class="activities-title">Management</p>
            <p class="activities-text">This is the song of all hearts in MIT!!</p>
        </div>
        <div class="col-md-2 about-2 ftco-animate">
            <img src="images/guidance.png" alt="" class="whatwedo-icons about-icons">
            <p class="activities-title">Guidance</p>
            <p class="activities-text">We are all ears !! Let us Know !!</p>
        </div>
    </div>
</div>
<div class="container-fluid whatwedo">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="whatwedo-left col-md-7">
            <h1 class="whatwedo-section-title">What We Do</h1>
            <div class="row">
                <div class="col-md-5 activities-card ftco-animate">
                    <div class="row">
                        <div class="icon-rounded">
                            <img src="images/library.png" alt="" class="whatwedo-icons">
                        </div>
                        <div class="col">
                            <p class="whatwedo-title">Library</p>
                            <p class="whatwedo-text">An open source non-profitable, easy to access depository of books filled with vibrant ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 activities-card ftco-animate">
                    <div class="row">
                        <div class="icon-rounded">
                            <img src="images/session.png" alt="" class="whatwedo-icons">
                        </div>
                        <div class="col">
                            <p class="whatwedo-title">Weekly Session</p>
                            <p class="whatwedo-text">Practice make you perfect PDA inspires students to aspire for GREATNESS. The weekly session proves to be the best platform for it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 activities-card ftco-animate">
                    <div class="row">
                        <div class="icon-rounded">
                            <img src="images/persofest.png" alt="" class="whatwedo-icons">
                        </div>
                        <div class="col">
                            <p class="whatwedo-title">Persofest</p>
                            <p class="whatwedo-text">A festival that celebrates the hidden talents of students of MIT. An oppurtunity to find you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 activities-card ftco-animate">
                    <div class="row">
                        <div class="icon-rounded">
                            <img src="images/interview.png" alt="" class="whatwedo-icons">
                        </div>
                        <div class="col">
                            <p class="whatwedo-title">Mock Interview</p>
                            <p class="whatwedo-text">Grand event hosted by PDA related to academics.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 activities-card ftco-animate">
                    <div class="row">
                        <div class="icon-rounded">
                            <img src="images/helpinghand.png" alt="" class="whatwedo-icons">
                        </div>
                        <div class="col">
                            <p class="whatwedo-title">Helping Hand</p>
                            <p class="whatwedo-text">
                                Got into any distress?
                            We are all ears !!
                            Let us Know !!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 activities-card ftco-animate">
                    <div class="row">
                        <div class="icon-rounded">
                            <img src="images/magazine.png" alt="" class="whatwedo-icons">
                        </div>
                        <div class="col">
                            <p class="whatwedo-title">Magazine</p>
                            <p class="whatwedo-text">This is the song of all hearts in MIT!! An illustration on MIT's expertise in fields such as Photography, Writing, Drawing...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whatwedo-right col-md-4">
            <img src="images/perso-side.png" style="margin-top:80px;width:100%;">
        </div>
    </div>
</div>
