* {
  padding: 0;
  margin: 0;
}

.footer-distributed {
  background-color: black;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center-1,
.footer-distributed .footer-center-2,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #616d7e;
  font-size: 15px;
  font-weight: normal;
  margin: 1vh 5vw 0vh 0vw;
  text-align: justify;
}

/* The company logo */

.footer-distributed .logo
{
  width: 50px;
  height:auto;
  display: inline-block;
}

.footer-distributed h3 {
  color: #ffffff;
  font-size: 30px;
  display: inline-block;
  vertical-align: super;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/*Headings of all columns*/

.footer-distributed .footer-center-1 h3,
.footer-distributed .footer-center-2 h3,
.footer-distributed .footer-right h3{
  color: #ffffff;
  font-size: 20px;
}

/* Footer center-1 for links */

.footer-distributed .footer-center-1{
  width: 15%;
}

.footer-distributed .footer-links {
  color: #616d7e;
  margin: 12px 0 12px;
  padding: 0;
  list-style-type: none;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links li :hover {
  color:#ffffff;
}

/* Footer Center-2 for contact info */

.footer-distributed .footer-center-2 {
  width: 30%;
}

.footer-distributed .footer-center-2 h3{
  margin-bottom: 2vh;
}

.footer-distributed .footer-center-2 i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 1vh auto;
  vertical-align: middle;
}

.footer-distributed .footer-center-2 i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center-2 p {
  display: inline-block;
  color: #ffffff;
  vertical-align:middle;
}

.footer-distributed .footer-center-2 p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center-2 p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-icons {
  margin: 15px 0px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;

  margin-right: 5px;
  margin-bottom: 5px;
  
}

.footer-distributed .footer-icons a:hover{
  background-color: white;
  color: #33383b;
}

.footer-sign-up {
  padding: 14px 30px;
  border-radius: 14px;
  background-color: #3183ff;
  background-image: linear-gradient(150deg, transparent, #0751bf);
  color: #fff;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 6px;
  transition-delay: 0.05s;
}

.footer-sign-up:hover {
  background-color: #00e613;
  background-image: linear-gradient(150deg, transparent, #039746);
}

/*Copyrights section*/
.footer-distributed .footer-copyrights {
  display: inline-block;
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-top: 4vh;
  width: 95%;
  text-align: center;
}
/*top scroll*/

.footer-distributed .top_scroll {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 40px;
  line-height: 50px;
  color: #616d7e;
}

.footer-distributed  .top_scroll :hover {
  color: white;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center-1,
    .footer-distributed .footer-right,
    .footer-distributed .top_scroll,
    .footer-distributed .footer-copyrights{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-distributed .footer-center-2 {
    display: block;
    width: 75%;
    margin-bottom: 30px;
    margin-left: auto;
  }
  .footer-distributed .footer-left h3{
    font-size: 30px;
  }
  .footer-distributed .footer-center-2 h3{
    margin-left: 17%;    
  }
  .footer-distributed .logo
  {
    width: 40px;
    height:auto;
  }
}
