html {
  font-size: 10px;
}


/* Contact-section */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

section {
  display: block; }

.contact-box{
  padding: 30px;
}

.news-letter{
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 5rem;
  line-height: 1.5;
}

.form-control{
  margin-bottom: 50px;
}

.news-letter-section{
  bottom: 30px;
}

.register {
  margin: 50px 0;
  text-align: center;
}
.register p{
  color: orangered;
  font-size: 2.25rem;
}
.form-group{
  margin:30px 0;
}


.contact-section a{
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  .contact-section a:hover {
    color: #0056b3;
    text-decoration: underline; }


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }


@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13; }
  
   }




.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }



.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .btn:hover {
    color: #212529;
    text-decoration: none; }
  .btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .btn.disabled, .btn:disabled {
    opacity: 0.65; }

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none; }

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc; }
  .btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }


.bg-light {
  background-color: #f8f9fa !important; }

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important; }

.bg-dark {
  background-color: #343a40 !important; }

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }


@media (min-width: 576px) {
 
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  }


@media (min-width: 768px) {
  
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
 }

@media (min-width: 992px) {
 
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
 }

@media (min-width: 1200px) {

  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  }


.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }


.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  -ms-grid-row-align: stretch !important;
  align-self: stretch !important; }


.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }


.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }


  
@media (min-width: 768px) {
  
  .p-md-5 {
    padding: 3rem !important; }
   }


.text-center {
  text-align: center !important; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }


.contact-section {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666666; }
  body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #fd5f00; }
  a:hover, a:focus {
    text-decoration: none;
    color: #fd5f00;
    outline: none !important; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400; }

.bg-light {
  background: #fafafa !important; }


.bg-primary {
  background: #fd5f00; }



.ftc-no-pb {
  padding-bottom: 0 !important; }

.btn {
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #fd5f00;
    border: 1px solid #fd5f00;
    color: #fff; 
    font-size: 2rem;
  }
    .btn.btn-primary:hover {
      border: 1px solid #fd5f00;
      background: transparent;
      color: #fd5f00; }
    .btn.btn-primary.btn-outline-primary {
      border: 1px solid #fd5f00;
      background: transparent;
      color: #fd5f00; }
      .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent;
        background: #fd5f00;
        color: #fff; }
  .btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #fd5f00; }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      border: 1px solid #fff;
      color: #fd5f00; }
    .btn.btn-white.btn-outline-white {
      border-color: rgba(255, 255, 255, 0.8);
      background: none;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      border-width: 1px;
      color: #fff; }
      .btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
        background: #fff;
        border-color: #fff;
        color: #fd5f00; }
  .btn.btn-secondary {
    background: #fda638;
    border: 1px solid #fda638;
    color: #fff; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
      border: 1px solid #fda638;
      color: #fff; }
  .btn.btn-tertiary {
    background: #8cc152;
    border: 1px solid #8cc152;
    color: #fff; }
    .btn.btn-tertiary:hover, .btn.btn-tertiary:focus, .btn.btn-tertiary:active {
      border: 1px solid #8cc152;
      color: #fff; }
  .btn.btn-quarternary {
    background: #f1453d;
    border: 1px solid #f1453d;
    color: #fff; }
    .btn.btn-quarternary:hover, .btn.btn-quarternary:focus, .btn.btn-quarternary:active {
      border: 1px solid #f1453d;
      color: #fff; }

.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control:focus, .form-control:active {
    border-color: #000000; }

textarea.form-control {
  height: inherit !important; }


.bg-primary {
  background: #fd5f00 !important; }


.ftco-section {
  padding: 7em 0;
  position: relative; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }



#map {
  width: 100%; }
  @media (max-width: 767.98px) {
    #map {
      height: 300px; } }


.contact-section .contact-info p a {
  color: #1a1a1a; }

.contact-section .box {
  width: 100%;
  display: block; }
  .contact-section .box h3 {
    font-size: 24px;
    font-weight: 500; }


/* Event Section */

.events-div {
  background-color: #ffffff;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  font-family: "Poppins", sans-serif;
}

.events-title {
  font-size: 4.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.events-intro {
  font-size: 1.6rem;
  color: #666666;
  margin-bottom: 1.6rem;
}

.card-title {
  font-weight: 600;
  color: black;
  font-size: 2.4rem;
}

.card-text {
  font-weight: 400;
  color: #666666;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.apply-btn {
  font-size: 1.6rem;
  color: white;
  padding: 6px 12px 6px 12px;
  width: 120px;
  margin-left: 5%;
  border-radius: 20px;
  background-color: #fd5f00;
}

.apply-btn:hover {
  background-color: white;
  border: 1px solid #fd5f00;
  color: #fd5f00;
}

.arrow-btn:hover {
  background-color: white;
  border: 1px solid #fd5f00;
  color: #fd5f00;
}

.arrow-btn {
  background-color: #fd5f00;
}

.event-details {
  font-size: 1.4rem;
  color: #666666;
  font-weight: 600;
}


/* What We Do section */

.whatwedo{
    margin-bottom: 10rem;
}

.about-1{
  background-color: #fd5f00;
  text-align: center;
  color:white;
  padding:5rem 1rem 5rem 1rem;
}

.about-2{
 background-color: #0d1128;
 text-align: center;
 color: white;
 padding:5rem 1rem 5rem 1rem;
}

.whatwedo-icons{
    height: 50px;
    margin-bottom: 1.5rem;
}

.activities-title{
 font-size: 2.2rem;
}

.activities-text{
    font-size: 1.6rem;
}

.icon-rounded{
    border-radius: 50%;
    width:90px;
    padding:14px;
    text-align: center;
    height:90px;
    background-color: #fd5f00;
    color:#FFFFFF;
}

.whatwedo-section-title{
    font-size: 3.2rem;
    margin-top:7rem;
    margin-bottom: 3rem;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}

.activities-card{
    padding:2rem;
}

.whatwedo-title{
   font-family: 'Poppins',sans-serif;
   font-size: 2.0rem;
   font-weight: 600;
}

.whatwedo-text{
    font-family:  'Poppins',sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color:#666666;
}

.whatwedo-left{
    margin-left: 10rem;
}

.icons {
  color: #fd5f00;
  margin-right: 4px;
}
.ftco-section {
  padding: 7em 0;
  position: relative;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.ftco-bg-dark {
  background: #3c312e;
}

.ftco-footer {
  font-size: 14px;
  background: #232323;
  padding: 6em 0;
}
.ftco-footer .ftco-footer-widget {
  width: 100%;
  display: block;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
}
.ftco-footer .ftco-footer-widget .logo {
  color: #fd5f00;
}
.ftco-footer .ftco-footer-widget .logo span {
  color: #fda638;
}
.ftco-footer .ftco-footer-widget ul li a span {
  color: #fff;
}
.ftco-footer .ftco-footer-widget .btn-primary {
  background: #fff !important;
  border: 2px solid #fff !important;
}
.ftco-footer .ftco-footer-widget .btn-primary:hover {
  background: #fff;
  border: 2px solid #fff !important;
}
.ftco-footer p {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a:hover {
  color: #fff;
}
.ftco-footer .ftco-heading-2 {
  font-size: 17px;
  font-weight: 400;
  color: #000000;
}
.ftco-footer .categories li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ftco-footer .categories li a span {
  color: rgba(255, 255, 255, 0.5) !important;
}
.ftco-footer .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.ftco-footer .subscribe-form .form-group input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1) !important;
  border: none;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16px;
}
.ftco-footer .subscribe-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group input:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7) !important;
}
.ftco-footer .subscribe-form .form-group .submit {
  color: #fff !important;
  font-size: 16px;
  background: #5d50c6 !important;
  border: none !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ftco-footer .subscribe-form .form-group .submit:hover {
  cursor: pointer;
  background: #fd5f00 !important;
}
.ftco-footer .subscribe-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
}
.ftco-footer .block-21 .text .heading {
  font-weight: 400;
  font-size: 16px;
}
.ftco-footer .block-21 .text .heading a {
  color: rgba(255, 255, 255, 0.9);
}
.ftco-footer .block-21 .text .heading a:hover,
.ftco-footer .block-21 .text .heading a:active,
.ftco-footer .block-21 .text .heading a:focus {
  color: #fd5f00;
}
.ftco-footer .block-21 .text .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.ftco-footer .block-21 .text .meta > div a {
  color: gray;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #fff;
}

.footer-small-nav > li {
  display: inline-block;
}
.footer-small-nav > li a {
  margin: 0 10px 10px 0;
}
.footer-small-nav > li a:hover,
.footer-small-nav > li a:focus {
  color: #fd5f00;
}

.media .ftco-icon {
  width: 100px;
}
.media .ftco-icon span {
  color: #fd5f00;
}

#map {
  width: 100%;
}
@media (max-width: 767.98px) {
  #map {
    height: 300px;
  }
}

.madras-address {
  color: #fff;
}

.subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.subscribe-form .form-group input {
  background: transparent !important;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.subscribe-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.7) !important;
}
.subscribe-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7) !important;
}
.subscribe-form .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.7) !important;
}
.subscribe-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7) !important;
}
.subscribe-form .form-group .form-control {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.subscribe-form .form-group .submit {
  color: #000000 !important;
  display: block;
  width: 100%;
  height: 52px;
  font-size: 16px;
  background: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.subscribe-form .form-group .submit:hover {
  cursor: pointer;
}

.subscribe-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.soc {
  padding-right: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.soc:hover {
  opacity: 0.7;
}


