body {
    background-color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');

/* aboutus section*/
body{
    background-color:black;
    }
    
    video{
    
            max-width: 100%;
            height: 500px;
            width: 800px;
            align-self: center;
            margin-top: 20%;
    }
    
    
    
    
    #h1about{
                   margin-left:42%;
            color: #fff;
            font-size: 40px;
            font-weight: 600;
            font-family: "Josefin Sans", sans-serif;
            background: linear-gradient(to right, white 25%, #00cccc 40%, white 30%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 4s ease-in-out infinite;
            display: inline-block;
        
    }
    .h2about{
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        margin-left:2%;
    }
    
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    
     .pabout{
        font-size: 18px;
        color: rgb(156, 163, 175);
        font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width:90%;
        height:60%;
       float:left;
       margin-left:2%;
       
     }
    
     

/* events section */

#event-section {
    margin: 30px 0 30px;
}

.events_heading {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: 700;
    line-height: 4.3rem;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
    color: #fff;
    margin: 0 0 30px 20px;
}

.apply-btn {
    display: inline-block;
    font-size: 16px;
    color: white;
    padding: 6px 12px 6px 12px;
    width: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: #3183ff;
    border-radius: 15px;
}

.viewdetails-btn {
    display: inline-block;
    font-size: 16px;
    color: white;
    padding: 6px 12px 6px 12px;
    width: auto;
    margin-bottom: 5%;
    background-color: #3183ff;
    border-radius: 15px;
}

.event-btns {
    padding: 10px 20px 30px;
    display: flex;
    justify-content: space-between;
}

.apply-btn:hover {
    background-color: #025dad;
    color: white;
    -webkit-transform: scale(0.90);
    /* Chrome, Safari, Opera */
    transform: scale(0.90);
    cursor: pointer;
}

.viewdetails-btn:hover {
    background-color: #025dad;
    color: white;
    -webkit-transform: scale(0.90);
    /* Chrome, Safari, Opera */
    transform: scale(0.90);
    cursor: pointer;
}

.event-details {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 600;
}

.card {
    background-color: rgba(29, 40, 56, 0.5);
    border-radius: 15px;
    color: #616d7e;
    height: 51rem;
    font-size: 17px;
    line-height: 30px;
}

.card-title {
    color: #d4dae2;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0.6rem;
}

.carousel-control-next-icon {
    width: 3rem;
    height: 4rem;
    background-color: #000;
}

.carousel-control-prev-icon {
    width: 3rem;
    height: 4rem;
    background-color: #000;
}

.carousel-control-next {
    right: 0.94rem;
    width: 4.31rem;
}

.carousel-control-prev {
    left: 0.94rem;
    width: 4rem;
}


/* events responsiveness */

@media (max-width: 1280px) {
    .card {
        height: 50rem;
        margin-bottom: 50px;
    }
    .apply-btn {
        display: inline-block;
    }
    .viewdetails-btn {
        display: inline-block;
    }
    #event-section {
        margin: 30px 0 70px;
    }
}

@media (max-width: 1024px) {
    .card {
        height: 45rem;
        margin-bottom: 50px;
    }
    .apply-btn {
        display: inline-block;
    }
    .viewdetails-btn {
        display: inline-block;
    }
    #event-section {
        margin: 30px 0 70px;
    }
}

@media (max-width: 800px) {
    .card {
        height: 67rem;
        margin-bottom: 50px;
    }
    .apply-btn {
        display: inline-block;
    }
    .viewdetails-btn {
        display: inline-block;
    }
    #event-section {
        margin: 30px 0 70px;
    }
}

@media (max-width: 400px) {
    .card {
        height: 49rem;
        margin-bottom: 40px;
    }
    .apply-btn {
        display: inline-block;
    }
    .viewdetails-btn {
        display: inline-block;
    }
    #event-section {
        margin: 30px 0 70px;
    }
}


/* Hero Section */

@font-face {
    font-family: "Aquire";
    src: url(../fonts/Aquire-BW0ox.otf) format('opentype');
    font-weight: 700;
}

.hero-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.hero-container span {
    grid-row-start: 1;
    grid-column-start: 1;
    --hero-container-height: calc(100% / var(--hero-containers) - 1px);
    --inverse-index: calc(calc(var(--hero-containers) - 1) - var(--index));
    --clip-top: calc(var(--hero-container-height) * var(--index));
    --clip-bottom: calc(var(--hero-container-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: hero-container 840ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.hero-container span:nth-child(odd) {
    --glitch-translate: 8px;
}

.hero-container span:nth-child(even) {
    --glitch-translate: -8px;
}

@keyframes hero-container {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 cyan, 2px -3px 0 rgb(3, 3, 39);
    }
    ;
    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 cyan, -2px 3px 0 rgb(3, 3, 39);
    }
    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 cyan, 2px -3px 0 rgb(4, 4, 36);
        transform: translate(var(--glitch-translate));
    }
    2% {
        text-shadow: 2px -3px 0 cyan, -2px 3px 0 rgb(4, 4, 36);
    }
    4%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

.bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
}

.hero-title {
    color: white;
    font: 700 4em/1 "Aquire";
    font-size: 80px;
    letter-spacing: .5rem;
}

.animated-text {
    font: 700 4em/1 "Aquire";
    letter-spacing: .5rem;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    background: url(../images/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 400px) {
    .card {
        height: 49rem;
        margin-bottom: 40px;
    }
    .apply-btn {
        display: inline-block;
    }
    .viewdetails-btn {
        display: inline-block;
    }
    #event-section {
        margin: 30px 0 70px;
    }
}

@media (max-width: 500px) {
    .animated-text {
        font-size: 18px;
        margin-bottom: 10%;
    }
    .hero-title {
        font-size: 65px;
    }
}