<script src="js/home.js"></script>
<script src="js/owl.carousel.min.js"></script>
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker" style="font-size:20px;color:whitesmoke"></i>
                                <span class="madras-address">&nbsp;&nbsp;Madras Institute of Technology, Anna University, Chrompet</span>
                            </li>
                            <li>
                                <a href="tel:+919790319116">
                                    <i class="fa fa-phone" style="font-size:20px;color:whitesmoke"></i>
                                    <span class="text">&nbsp;&nbsp;+91 97903 19116</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:pdamit22@gmail.com">
                                    <i class="fa fa-envelope" style="font-size:20px;color:whitesmoke"></i>
                                </span>
                                <span class="text">
                                    <span class="__cf_email__">&nbsp;&nbsp;pdamit22@gmail.com</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
                <h2 class="ftco-heading-2">Recent Events</h2>
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4"></a>
                    <div class="text">
                        <h3 class="heading">
                            <a href="#">SPONTANIA - the clubs of MIT have come together for a cheerful beginning to the sanguine future!</a>
                        </h3>
                        <div class="meta">
                            <div>
                                <a href="#">
                                    <span class="icon-calendar"></span>
                                    Nov 25, 2021
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-5 d-flex">
                        <a class="blog-img mr-4"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">It’s time to flaunt your skills, strengths and qualities interviews as PDA proudly presents Resume Building Competition</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#">
                                        <span class="icon-calendar"></span>
                                        Nov 9, 2021
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Join Us Now!</h2>
                    <form action="/" class="subscribe-form">
                        <div class="form-group">
                            <!-- <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address"> -->
                            <input type="submit" value="Sign up" class="form-control submit px-3">
                        </div>
                    </form>
                </div>
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <a href="https://www.facebook.com/mitpda" class="fa fa-facebook soc"></a>
                        <a href="https://www.linkedin.com/company/personality-development-association-mit" class="fa fa-linkedin soc"></a>
                        <a href="https://www.instagram.com/pda_mit/" class="fa fa-instagram soc"></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This website is made with
                    <i class="fa fa-heart" style="font-size:16px;color:whitesmoke"></i>
                    by
                    <a href="https://github.com/pda-mit" target="_blank">PDA Web Team</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
